extends layout

block content

		script( src='/javascripts/highcharts.js' )
		#hiddenProfilePhoto.hidden_popup
			.pd_48
				.popblock
					.colhh1.secondary_color.shadow
						.pd_18(style="height: 24px;")
							.close_popup.close_icon.r_f
						.pd_18.title.white_text Editar Perfil
					form.colhh1.form_container(action="modificaInfo" method="POST" enctype="multipart/form-data")
						.pd_24
							.chn_pphoto.p_hidelem
								span#changePhoto(style='background-image: url("images/camera.png")')
								img#profilePhoto(src='profile_photos/#{datos[0]._id}.png')
								input#filePhoto(type="file" name="p_photo" accept='image/*' value='')
						.field_container
							.title Nombre(s)
							input(type="text" name="nombre" placeholder="Modifica tu nombre")
						.field_container
							.title Apellido(s)
							input(type="text" name="apellido" placeholder="Modifica tus apellidos")
						.field_container
							.title Usuario
							input(type="text" name="user" placeholder="Modifica tu nombre de Usuario")
						.field_container
							.title Correo
							input(type="email" name="email" placeholder="Modifica tu Correo")
						.field_container
							.title Contraseña
							input(type="password" name="password" placeholder="Modifica tu contraseña")
						.colhh1(style="height: 50px;margin-top: 32px;")
							.button.button_inco.r_f.tri_color Guardar Cambios
								input(type="submit" value="")
		div(style="height: 64px;")
		.page_container
			.page_inner
				.block_container.bg_white
					.pd_24.title.bg_amber.white_text.shadow Grafica de Luz
					.pd_24
						.chart( id="chartLuz" )
				.block_container.bg_white
					.pd_24.title.bg_blue.white_text.shadow Grafica de Humedad
					.pd_24
						.chart( id="chartHumedad" )
				.block_container.bg_white
					.pd_24.title.bg_green.white_text.shadow Grafica de Temperatura
					.pd_24
						.chart( id="chartTemp" )
			div(style="height: 80px;")

						//- 	.col
						//- 		.block.secondary_color.icon
						//- 	.col
						//- 		.block.secondary_color.icon
						//- .row
						//- 	.col
						//- 		.block.secondary_color.icon
						//- 	.col
						//- 		.block.secondary_color.icon
						//- .row
						//- 	.col
						//- 		.block.secondary_color.icon
						//- 	.col
						//- 		.block.secondary_color.icon
		script(type="text/javascript" src="/javascripts/graficas.js")