doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript" src="/js/jquery.js")
	body.bg_red
		div(style="height: 100px;")
		.block_container.bg_white
			.colhh1.border_bottom
				.pd_24(style="font-size: 32px;padding: 40px 24px 40px 24px;") Error
			.colhh1
				.pd_24 Se ha presentado un error
					div(style="height: 18px;")
					.pd_6 Opcion 1
					div(style="height: 12px;")
					.pd_6 Opcion 2
				.colhh1(style="height: 50px;")
					a(href="/login")
						.button.button_inco.r_f.bg_purple Regresar
