extends layout

block content
		.page_inner
			.colhh1(style="height: 50px;")
				.button.button_inco.r_f.tri_color Agregar Huerto
			.colhh1
				.pd_18.title Huerto 1
			.orc_container
				.row
					.col
						.block.secondary_color
					.col
						.block.secondary_color
				.row
					.col
						.block.secondary_color
					.col
						.block.secondary_color
				.row
					.col
						.block.secondary_color
					.col
						.block.secondary_color