doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script( type='text/javascript' src='/socket.io/socket.io.js' )
		script(type="text/javascript" src="/js/jquery.js")
		script(type="text/javascript" src="/js/crearHuerto.js")
	body
		.app_bar.primary_color
			img.app_icon(src="images/appicon.png")
			| Pyruz
		.menu_container
			div(style="height: 64px;")
			.profile_container
				.pd_24
					.profile_photo.p_hidelem
						span#editarPerfil(style='background-image: url("images/edit.png")')
						img(src='profile_photos/#{datos[0]._id}.png')
				.profile_bottominfo
					.profile_name
						.pd_18
							| #{datos[0].nombre} #{datos[0].apellido}
					div(style="height: 12px;")
					.profile_info
						.pd_18
							.colhh2
								.b_text Huertos
								div(style="height: 8px;")
								#contHuertos.pd_6 1
							.colhh2
								.b_text Plantas
								div(style="height: 8px;")
								#contPlantas.pd_6 8
			.border_bottom
			.menu_options
				div(style="height: 10px;")
				a(href="/principal")
					.option
						img(src="images/home.png")
						| Mi Jardín
				a(href="/control")
					.option
						img(src="images/chart-line.png")
						| Datos
				div(style="height: 10px;")
				.border_bottom
				div(style="height: 10px;")
				a(href="/cerrar")
					.option
						img(src="images/logout.png")
						| Cerrar Sesión

		block content