form(action="registra" method="POST")
	p Nombre
	input(type="text" name="nombre")
	br
	p Apellido
	input(type="text" name="apellido")
	br
	p Nombre de Usuario
	input(type="text" name="user")
	br
	p Email
	input(type="text" name="email")
	br
	p Contraseña
	input(type="text" name="password")
	br
	input(type='submit' name="Registra")